.toolbar__item {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 3rem;
  inline-size: 3.9rem;
  margin: 0.2rem 0.2em 0.7rem 0.2rem;
  max-inline-size: 100%;
  max-block-size: 100%;
  background: var(--color-secondary);
  border-top: 0.1rem solid var(--color-secondary_dark);
  box-shadow: 0 0rem 0.2rem 0rem var(--color-secondary_light_25) inset,
    1rem 1rem 0.5rem -0.6rem var(--color-secondary_light_25) inset,
    -1rem -1rem 0.5rem -0.6rem var(--color-secondary_dark_50) inset;
  transition: all 0.5s;
  &:nth-of-type(1) {
    border-top-left-radius: 2rem;
    margin-left: 0.2rem;
  }
  &:last-of-type {
    border-top-right-radius: 2rem;
    margin-right: 0.2rem;
  }
  &:hover {
    cursor: pointer;
  }
  &_active {
    border-bottom: 0.2rem solid var(--color-secondary);
    background: var(--color-secondary);
    box-shadow: 0.2rem 0.2rem 1rem 0.4rem var(--color-secondary_darker_75) inset;
  }
}
