.menu-bottom__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2.5rem 1fr 1fr;
}
