.menu-link__nav {
  inline-size: 15rem;
  max-inline-size: 15rem;
  block-size: calc(100vh - 2.5rem);
  max-block-size: calc(100vh - 2.5rem);
  background: var(--color-secondary);
  border: 0.2rem solid var(--color-primary_darker);
  overflow: hidden;
}
