.notification-container {
  display: none;
  position: absolute;
  margin-block-start: 4.5rem;
  margin-inline-start: calc(50% - 5.2rem);
  border-radius: 2rem;
  inline-size: 10rem;
  block-size: 5rem;
  background-color: var(--color-secondary);
  border: 0.2rem solid var(--color-primary_darker);
  box-shadow: 0 0rem 0.3rem 0.1rem var(--color-primary_75);

  &::before {
    position: absolute;
    content: "";
    margin-block-start: -3rem;
    margin-inline-start: 3.5rem;
    inline-size: 0rem;
    block-size: 0rem;
    border: 1.5rem solid var(--color-opacity);
    border-block-end: 1.5rem solid var(--color-primary_darker);
  }
}
