.form-custom__input {
  font: inherit;
  border-radius: 1rem;
  padding: 0.4rem 0rem 0.4rem 0.9rem;
  border: 0.1rem solid var(--color-primary_dark);
  min-inline-size: 15rem;
  @include box-shadow(
    0 0rem 0.3rem 0.2rem var(--color-primary_50),
    0 0rem 0.2rem 0rem var(--color-secondary_dark_50) inset,
    0.6rem 0.6rem 0.6rem -0.2rem var(--color-secondary_dark_50) inset,
    0rem 0rem 2rem 1.2rem var(--color-secondary_light_50) inset
  );
  transition: all 0.2s ease-out;
  color: var(--color-primary_darker);
  &:hover,
  &:focus {
    @include box-shadow(
      0 0rem 0.3rem 0.2rem var(--color-primary_75),
      0 0rem 0.2rem 0rem var(--color-secondary_dark_50) inset,
      1rem 1rem 1rem -0.4rem var(--color-secondary_dark_50) inset,
      0rem 0rem 2rem 1.2rem var(--color-secondary_lighter_50) inset
    );
  }
}
