@import "./__btn/toolbar__btn.scss";
@import "./__item/toolbar__item.scss";
@import "./__list/toolbar__list.scss";

.toolbar {
  max-inline-size: 100%;
  block-size: 4rem;
  border-radius: 2rem 2rem 0rem 0;
  background: var(--color-secondary_dark_50);
  border-bottom: 0.2rem solid var(--color-secondary);
  @include box-shadow(
    0 0rem 0.2rem 0rem var(--color-secondary_light_25) inset,
    0.6rem 0.6rem 0.3rem -0.4rem var(--color-secondary_light_25) inset
  );
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
