.menu-user__arrow {
  margin-top: 0rem;
  margin-left: 23rem;
  inline-size: 0rem;
  block-size: 0rem;
  border: 1.5rem solid var(--color-opacity);
  border-top: 1.5rem solid var(--color-primary_darker);
}
